<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <logger name="org.hibernate.metamodel.internal.MetadataContext" level="OFF"/>
    <logger name="org.flywaydb.core.internal.database.base.Database" level="OFF"/>
    <logger name="org.springframework.boot.autoconfigure.orm.jpa.JpaBaseConfiguration$JpaWebConfiguration" level="OFF"/>
    
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="STRUCTURED_LOG" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>{"timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}","level":"%level","logger":"%logger","message":"%msg","trace":"%X{traceId:-}","span":"%X{spanId:-}"}%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STRUCTURED_LOG"/>
        </root>
    </springProfile>
</configuration>
